# Gradle settings
.gradle

# Keep the wrapper
!gradle/wrapper/gradle-wrapper.jar

# Output files
/build/
/out/
/bin/

# IDEA settings
.idea
*.iws
*.iml
*.ipr

# Eclipse settings
.settings
.classpath
.project

# Keep the sample property file instead of the real one
src/main/resources/application.properties
!src/main/resources/application.properties.sample